<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collegevol.dao.EventCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.collegevol.entity.EventComment">
        <id column="ec_id" property="ecId" />
        <result column="user_id" property="userId" />
        <result column="comment" property="comment" />
        <result column="rate" property="rate" />
        <result column="created_time" property="createdTime" />
        <result column="event_id" property="eventId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ec_id, user_id, comment, rate, created_time, event_id
    </sql>

</mapper>
