<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collegevol.dao.EventApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.collegevol.entity.EventApply">
        <id column="event_apply_id" property="eventApplyId" />
        <result column="user_id" property="userId" />
        <result column="event_id" property="eventId" />
        <result column="apply_status" property="applyStatus" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        event_apply_id, user_id, event_id, apply_status, created_time
    </sql>

</mapper>
