<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collegevol.dao.EventPictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.collegevol.entity.EventPicture">
        <id column="ep_id" property="epId" />
        <result column="event_id" property="eventId" />
        <result column="img_url" property="imgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ep_id, event_id, img_url
    </sql>

</mapper>
